name: Post metrics comment

on: [pull_request_target]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v3
        with:
           submodules: recursive
           ssh-key: ${{ secrets.MY_SECRET }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
             echo "echo"
      - name: Run metrics and post comment
        run: |
          curl -s -X POST \
               -H "Authorization: token $GITHUB_TOKEN" \
               -H "Accept: application/vnd.github+json" \
               "https://api.github.com/repos/$GH_REPO/issues/$PRNUM/comments" \
               -d "{\"body\":\"what up\"}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          PRNUM: ${{ github.event.pull_request.number }}
      - name: testing
        run: |
             tests/asdf.sh
